<% if user_signed_in? %>
   <div class="container">
      <p>
         <%= link_to "Submit your short story", new_story_path, class:"btn btn-info" %>
      </p>
   </div>
<% end %>
<div class="container">
   <div class="row">
      <div class="col-md-8">
         <% @stories.each do |story|%>
            <div class="well">
               <%= story.body %>
               <br>
               <br>
               <%= link_to "Nice one!", like_story_path(story), method: :put, class: "btn btn-info btn-xs" %>
               <span class="text-default"> (<%= story.get_upvotes.size %>)</span>
               <%= link_to "WTF!", dislike_story_path(story), method: :put, class: "btn btn-primary btn-xs" %>
               <span class="text-primary"> (<%= story.get_downvotes.size %>)</span>
               <%= link_to "Comments", story_path(story), class: "btn btn-link btn-xs"%><small><em class="text-primary">(<%= story.comments.count %>)</em></small>
               <span class="text-muted pull-right">
                  <small>Created by: <%= story.user.name %> on <%= story.created_at.strftime('%B %d, %Y at %l:%M %p') %></small>
               </span>
               <br>
               <span class="text-muted pull-right"><small>Category: <%= story.category.name %> </small></span>
            </div>
         <% end %>
      </div>

      <div class="col-md-4 col-sm-12">
         <div class="panel panel-primary">
            <div class="panel-heading text-center">Categories</div>
            <ul class="list-group">
               <% Category.all.each do |category| %>
                  <li class="list-group-item">
                     <%= link_to category.name, category_path(category) %>
                     <span class="badge" style="background-color: #DD4814;">
                        <%= category.stories.count %> 
                     </span>
                  </li>
               <% end %>
            </ul>
         </div>
      </div>
   </div>
</div>
