<!DOCTYPE html>
<html>
<head>
  <title>Short Stories</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   <%= render "layouts/header" %>

   <div class="container">
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-info text-center") %>
		<% end %>
   </div>

   <% if user_signed_in? %>
      <div class="container">
         <p>
            <%= link_to "Submit your short story", new_story_path, class:"btn btn-info" %>
         </p>
      </div>
   <% end %>
   
	<%= yield %>

   <%= render "layouts/footer" %>
</body>
</html>
